* {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Caption', sans-serif;
}

/* HEADER */

.top-menu {
  margin: 0 200px;
  position: relative;
  background: #5A394E;    
}

.menu-main {
	float: left;
  	list-style: none;
	text-align: left;

}

.menu-main-right {
	list-style: none;
	text-align: right;
}

.menu-main li {
	display: inline-block;
}

.menu-main a,
.menu-main-right a {
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 15px 30px;
	border-bottom: 2px solid #5A394E;
}

.menu-main a:hover,
.menu-main-right a:hover {
	color: orange;
	border-bottom: 2px solid orange;
}
/*
.main {
	margin: 10px 200px;
	background-color: green;
}
*/
/*  END HEADER */

.content {
	text-align: center;
}

.bio {
	float: left;
	padding-top: 50px;
	display: block;
	width: 75%;
	height: 400px;
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;

}

li {
	margin-bottom: 20px;
}

.addition {
	width: 24%;
	padding-top: 50px;
	height: 400px;
	display: inline-block;
	text-align: center;
}

.addition h4 {
	margin-bottom: 10px;
}

/* FOOTER */

footer {
	width: 100%;
	background-color: #5A394E;
	text-align: center;
	color: white;
}

/* END FOOTER */

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}

th, td {
	height: 60px;
	border-bottom: 1px solid gray;
}

td {
	text-align: center;
}

.mark-color,
.table-head {
	background-color: pink;
}
